body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: white;
}

.scroll-container {
    position: relative;
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0 !important;
    max-width: none !important;
    padding: 0 !important;
    overflow-y: scroll;
    scroll-snap-type: y mandatory !important;
}

section {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

h6 {
    font-size: 10px;
    font-family: 'JetBrains Mono', monospace;
}

a {
    font-size: 10px;
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 lightgray;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 lightgray;
    color: #4EC9B0;
}

p {
    font-size: 12px;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    width: 100%;
    color: #333;
    text-align: center;
}

.output {
    font-size: 3rem !important;
    font-weight: bold;
    color: #4EC9B0;
    padding-left: 12px;
    display: inline-block;
}

.terminal-content {
    padding: 16px;
}

.terminal-content pre {
    margin: 0;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8rem;
}

.terminal-link {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.terminal-link:hover {
    color: #00BFFF;
    background-color: rgba(0, 0, 0, 0.2);
}

.typing-animation {
    overflow: hidden;
    border-right: .15em solid #4EC9B0;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 1.5s steps(16, end),
        blink-caret .75s step-end infinite;
    width: fit-content;
}

.left-nav {
    position: absolute;
    margin-top: 10px;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.terminal-content .terminal-link {
    color: #CE9178;
    text-decoration: none;
    transition: color 0.3s;
}

.terminal-content .terminal-link:hover {
    color: #4EC9B0;
    box-shadow: none;
}

.blink-text {
    color: #4EC9B0;
    animation: blink 1s infinite;
    font-size: 0.8em;
    display: block;
    margin-top: 0.5em;
}

@keyframes blink {
    50% { opacity: 0; }
}

.press-hint {
    color: #4EC9B0;
    animation: blink 1s infinite;
    font-size: 0.8em;
    display: block;
    margin-top: 0.5em;
}

.p-hint {
    color: #4EC9B0;
    animation: blink 1s infinite;
    font-size: 0.8em;
    display: block;
    margin-top: 0.5em;
}

.typing-effect {
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0;
    animation: aboutTyping 2s steps(40, end);
}

.typing-effect::after {
    content: '';
    display: inline-block;
    width: .15em;
    height: 1.2em;
    background-color: #4EC9B0;
    animation: aboutBlinkCaret .75s step-end infinite;
    vertical-align: text-bottom;
    margin-left: 2px;
}

@keyframes aboutTyping {
    from { height: 0 }
    to { height: 100% }
}

@keyframes aboutBlinkCaret {
    from, to { opacity: 0 }
    50% { opacity: 1 }
}

.scroll-hint {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #90c7bc;
    font-size: 12px;
    display: flex;
    align-items: center;
    animation: fadeInOut 2s infinite;
    z-index: 1000;
}

.scroll-arrow {
    font-size: 15px;
    margin-left: 10px;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 1; }
}

#projects .terminal-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@keyframes typing {
    from { width: 0 }
    to { width: 15ch; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #4EC9B0 }
}

/* Mobile Screen Adjustments */
@media (max-width: 768px) {

    .terminal-content {
        padding: 0.8rem;
    }

    .terminal-content pre {
        font-size: 0.6rem;
    }

    #home .terminal-box {
        width: 85%;
        height: auto !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: auto;
        margin-right: auto;
    }

    .output {
        font-size: 1.2rem !important;
    }

    section {
        padding: 0;
        margin: 0;
    }

    .scroll-container {
        padding: 0 !important;
        margin: 0 !important;
    }

    section:not(#home) .terminal-box {
        width: 100%;
        margin: 1rem auto;
    }

    #home .terminal-content .output {
        font-size: 1.2rem !important;
    }

    .scroll-hint {
        bottom: 40px !important;
        width: 55%;
        text-align: center;
        font-size: 10px;
    }
    
    .scroll-arrow {
        font-size: 16px;
    }

}

/* Desktop Screen Adjustments */
@media (min-width: 1300px) {
    .terminal-link {
        font-size: 14px;
        margin-right: 15px;
    }

    .terminal-box {
        width: 80%;
        max-width: 1200px;
    }
    
    .terminal-content {
        padding: 2rem;
    }
    
    .terminal-content pre {
        font-size: 1.2rem !important;
    }

    .output {
        font-size: 4rem !important;
    }

    .big-title {
        font-size: 2rem !important;
    }
}